<!-- Toolbar -->
<div class="toolbar" role="banner">

  <mat-toolbar color="primary">
    <mat-icon>fastfood</mat-icon>
    <span>Food Recipes</span>
  </mat-toolbar>

</div>
<div id="recipesTypes">
<label for="type">Alege categoria: &nbsp;</label>
<select #types name="type" id="type" (change)="onTypeChange($event)">
  <option value="toate">toate</option>
  <option value="desert">desert</option>
  <option value="gustare">gustare</option>
  <option value="fel principal">fel principal</option>
  <option value="ciorba/supa">ciorba/supa</option>
</select>
</div>
<br>
<div class="container" id="ingredients">
  <div class="col col-lg-3">
    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="Enter the ingredients " aria-label="Enter Todo"
        aria-describedby="button-addon2" [(ngModel)]="newTodo">
      <button class="btn btn-outline-secondary btn-primary" type="'button" id="button-addon2" style="color:white;"
        (click)="saveTodo()">Add
      </button>
      <button class="btn btn-outline-secondary btn-primary" type="'button" id="button-addon2" style="color:black;"
        (click)="showRecipes()">Find
      </button>
    </div>
    <table class="table table-striped">
      <tbody>
        <tr *ngFor="let todo of todos; let i = index;">
          <th scope="row">{{i+1}}</th>
          <td class="{{(!todo.isCompleted)?'done':''}}" (click)="done(i)">{{todo.name}} </td>
          <td style="color: red; font-weight: bold;" (click)="removeIngredients(i)">X</td>
    </table>
    <div >
      <table class="table table-striped">
        <tbody>
          <tr *ngFor="let recipe of recipes"  fxLayout="row">
              <mat-card class="recipe-card">
                <mat-card-header class="card-header">
                  <mat-card-title>
                    {{recipe["nume"]}}
                  </mat-card-title>
                </mat-card-header>
                <img mat-card-image class="card-image" id="image" src="../assets/{{recipe['imagine']}}.jpg">
                <mat-card-content class="card-content">
                        <p>
                          {{recipe["Reteta"][0]}}
                        </p>
                </mat-card-content>
              </mat-card>
      </table>
    </div>
  </div>
</div>