 #recipesTypes {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
 }

 #ingredients {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 2em;
 }

 .recipe-card{
    height: 225px;
    max-height: 300px;
    max-width: 1200px;
    /* max-height: 300px; */
    padding-left: 275px;
    margin: 20px;
 }

 .card-image{
  width: 20%;
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 20px;
 }
